@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Syncopate&display=swap');
/* common font  */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Syncopte', sans-serif;
}
section .about{
    
}
/* common font end */

.container{
    margin: 0 200px;
}

.header{
    background-color: #FFF8F3;
}
.title{
    color: #181818;
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    margin-left: 30px;
}
nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.text-orange{
    color: #FD6E0A;
}

.btn-primary{
    background-color:#FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
button > a {
    color: white;
}

header .header-banner{
    display: flex;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right; 
    justify-content: space-between;
    margin-left: 200px;
    align-items: center; 
}
header .banner{
    width: 550px;
}
.bannaer-img > img{
   width: 584px;
   
}
h3.gerding{
    font-size: 45px;
    font-weight: 700;
    color: #474747;
    margin: 0;
}
h1.baner-tittle{
    font-size: 85px;
    font-weight: 800;
    color: #181818;
    margin: 0;
}
p.banner-details{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    
}
